name: Update aqua
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0" # every Sunday at midnight UTC

jobs:
  aqua:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@9ebf656952a20c45a5d66606f083ff34f58b8ce0 # v4.0.0
        with:
          aqua_version: v2.55.1
      - name: aqua update
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: aqua update
        working-directory: ${{ github.workspace }}/HOME/.config/aquaproj-aqua
      # is change happen?
      - name: Check for modified files
        id: git-check
        run: echo "modified=$(if git diff-index --quiet HEAD --; then echo "false"; else echo "true"; fi)" >> "$GITHUB_OUTPUT"
      # Commit if change happen, then create PR. force push when ions[botbranch/pr already exists.
      - name: Configure git for GitHub Acitons
        if: ${{ steps.git-check.outputs.modified == 'true' }}
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ secrets.SYNCED_GITHUB_TOKEN_REPO }}@github.com/${{ github.repository }}
      - name: Commit changes
        if: ${{ steps.git-check.outputs.modified == 'true' }}
        run: |
          git switch -c "auto-pr/update-aqua"
          git add HOME/.config/aquaproj-aqua/aqua.yaml
          git commit -m "[aqua update] Automated changes"
          git push --force origin "auto-pr/update-aqua"
      - name: Create pull request with gh
        if: ${{ steps.git-check.outputs.modified == 'true' }}
        run: |
          # check if PR already exists
          if [[ "$(gh pr list --head "auto-pr/update-aqua" --json number --jq ".[0].number")" != "" ]]; then
            echo "Pull request already exists. Exiting."
            exit 0
          fi
          cat <<EOF > body.md
          ## summary
          Updated aqua packages.
          EOF
          gh pr create --base master --head auto-pr/update-aqua --title "[automate] Update aqua packages" --body-file "body.md" --label "automated pr"
        env:
          GH_TOKEN: ${{ secrets.SYNCED_GITHUB_TOKEN_REPO }}
